.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 100px;
}
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 18px;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid teal;
}
.navbar li{
    cursor: pointer;
}
.navbar button {
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar button:hover {
    background-color: chartreuse;
  }
@media(max-width:1050px){
    .navbar .logo{
        width: 80px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
}
@media(max-width:900px){
    .navbar .logo{
        width: 60px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
}
@media(max-width:1050px){
    .navbar-menu{
        display: none;
    }
}